{% extends 'base.html' %}

{% block content %}
<div class="title">
    <h2>SISTEMA PARQUEADERO</h2>
</div>
<div class="crud_panel">
    <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalCrearCelda" id="btnAbrirModalCelda">
        <i class="bi bi-plus-lg"></i>
        Crear Celda
    </button>
</div>
<div class="celdas_content">
    {% for celda in celdas %}
        <div class="cell {{ celda.estado|lower }}" data-id="{{ celda.id }}">{{ celda.codigo }}</div>
    {% endfor %}
</div>   

<div class="modal fade" id="modalCrearCelda" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear nueva celda</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body-content">
                {% include 'celdas/formulario_celda.html' %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="infoCeldaModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="detalleCeldaContent">

        </div>
    </div>
</div>

<div class="modal fade" id="crearParqueoModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="crearParqueoModalContent">
        <div class="modal-header">
            <h5 class="modal-title">Parquear</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="formularioParqueoBody">
            
        </div>
        </div>
    </div>
</div>

{% endblock %}